<div class="container">
    <form [formGroup]="form" (ngSubmit)="register()" class="register" action="" method="post">
        <fieldset>
            <h2>Registration Form</h2>
            
            <!-- username -->
            <p class="field field-icon">
                <label for="username"><span><i class="fas fa-user"></i></span></label>
                <input formControlName="username" class="input-error" type="text" name="username" id="username"
                placeholder="Johny" required>
            </p>
            <ng-container *ngIf="form.get('username').touched">
                <p *ngIf="form.get('username').errors?.required" class="error">
                    Username is required!
                </p>
                <p *ngIf="form.get('username').errors?.minlength" class="error">
                    Username must be at least 5 characters long!
                </p>
            </ng-container>
            
            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input formControlName="email" appCustomValidator="emailValidator(form.get('email'))" type="email" name="email" id="email" placeholder="john.doe@gmail.com">
            </p>
            
            <ng-container *ngIf="form.get('email').touched">
                <p *ngIf="form.get('email').errors?.required" class="error">
                    Email is required!
                </p>
                <p *ngIf="form.get('email').errors?.invalidEmail" class="error">
                    Email is not valid!
                </p>
            </ng-container>
            
            <!-- telephone -->
            <p class="field field-icon">
                <label for="tel"><span><i class="fas fa-phone"></i></span></label>
                <select formControlName="code" name="select-tel" id="select-tel" class="tel">
                    <option *ngFor="let code of phoneCodes">{{code}}</option>
                </select>
                <input formControlName="phone" appCustomValidator="phoneValidator(form.get('phone'))" type="text" name="tel" id="tel" placeholder="885 888 888">
            </p>
            
            <ng-container *ngIf="form.get('phone').touched">
                <p *ngIf="form.get('phone').errors?.invalidPhone" class="error">
                    Phone must be a 9-digit number in the following format: 888 888 888
                </p>
            </ng-container>
            
            <div formGroupName="passwords" class="passwords">
                <!-- password -->
                <p class="field field-icon">
                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                    <input formControlName="password" appCustomValidator="passwordValidator(form.get('passwords.password'))" type="password" name="password" id="password" placeholder="******">
                </p>
    
                <!-- rePassword -->
                <p class="field field-icon">
                    <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                    <input formControlName="rePassword" type="password" name="rePassword" id="rePassword" placeholder="******">
                </p>

                <!-- errors -->
                <ng-container *ngIf="form.get('passwords').touched">
                    <p *ngIf="form.get('passwords.password').errors?.required" class="error">
                        Password is required!
                    </p>
                    <p *ngIf="form.get('passwords.password').errors?.lessThanFiveChars" class="error">
                        Password must be at least 5 characters long!
                    </p>
                    <p *ngIf="form.get('passwords.password').errors?.notAllowedChars" class="error">
                        Password may only contain latin letters and digits!
                    </p>
                    <p *ngIf="form.get('passwords.password').valid &&
                        form.get('passwords.rePassword').touched &&
                        form.get('passwords.rePassword').errors?.noMatch" class="error">
                        Passwords don't match!
                    </p>
                </ng-container>  
            </div>


            <button [disabled]="form.invalid">Create Account</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/login">Log In</a>
            </p>

        </fieldset>
    </form>
</div>