<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
</head>

<body>
    <table ng-app="myApp" ng-controller="myCtrl">
        <tr>
          <th ng-click="orderByMe('name')" ng-model="name">Name</th>
          <th ng-click="orderByMe('age')" ng-model="age">Age</th>
        </tr>
        <tr ng-repeat="p in people | orderBy: myOrderBy">
          <td>{{p.name}}</td>
          <td>{{p.age}}</td>
        </tr>
      </table> 
      <script>
        const app = angular.module('myApp', []);
        app.controller('myCtrl', $scope => {
          $scope.people = [{ name: 'Jim', age: 4 }, { name: 'Don', age: 21 }];
          $scope.orderByMe = (x) => $scope.myOrderBy = x;
        });
      </script>
      


</body>

</html>