<section id="search">
    <h1>Search</h1>
    <form action="/search" method="POST" class="form">
        <input type="text" class="search" name="search" placeholder="Title..." value="{{titleQuery}}">
        <input type="text" name="genre" class="genre" placeholder="Genre..." value="{{genreQuery}}">
        <input type="number" name="year" class="year" placeholder="Year..." value="{{yearQuery}}">
        <input type="submit" value="search">
    </form>
</section>

<section id="catalog">
    <div class="band">

        <!-- If there are posts for movie in the database display each of them -->
        {{#if searchResults}}
            {{#each searchResults}}
                {{> movie}}
            {{/each}}
        {{else}}
        <!-- If there are no posts matched display: -->
            <div class="no-posts">
                <p class="no-offer">There are no movies matched...</p>
            </div>
        {{/if}}
    </div>
</section>