nav {
    background-color: rgba(192, 192, 192, 0.699);
    font-family: Helvetica, sans-serif;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 15px;
}

nav ul li a {
    color: rgb(33, 184, 33);
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(33, 184, 33);
    padding: 10px;
    color: white;
    border-radius: 5px;
}