<div class="container">
    <!-- theme content  -->
    <div class="theme-content" *ngIf="theme">
        <!-- theme-title  -->
        <div class="theme-title">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <h2>{{theme.themeName}}</h2>
                    <p>Date: <time>{{theme.created_at}}</time></p>
                </div>
                <div class="subscribers">
                    <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
                </div>
            </div>
        </div>
        <!-- comment  -->
        <div *ngFor="let post of theme.posts" class="comment">
            <header class="header">
                <p><span>{{post.userId.username}}</span> posted on <time>{{post.created_at}}</time></p>
            </header>
            <div class="comment-main">
                <div class="userdetails">
                    <img src="assets/profile.png" alt="avatar">
                </div>
                <div class="post-content">
                    <p>{{post.text}}</p>
                </div>
            </div>
            <div class="footer">
                <div *ngIf="isLogged && user._id != post.userId._id">
                    <i *ngIf="!post.likes.includes(user._id)" class="fas fa-thumbs-up" (click)="likePost(post._id)"></i>
                    <i *ngIf="post.likes.includes(user._id)" class="fas fa-thumbs-down" (click)="unlikePost(post._id)"></i>
                </div>
                <div class="edit-delete" *ngIf="isLogged && user._id == post.userId._id">
                    <button class="edit" (click)="getEditingMode(post._id, post.text)">Edit</button>
                    <button class="delete" (click)="deletePost(post._id)">Delete</button>
                </div>
                <p><span>{{post.likes.length}}</span> likes</p>
            </div>
        </div>
        <div *ngIf="isLogged" class="answer-comment">
            <p><span>{{user.username}}</span>'s comment:</p>
            <div *ngIf="!editingMode" class="answer">
                <form #form="ngForm" (ngSubmit)="postComment(form)">
                    <textarea ngModel #comment="ngModel" name="postText" id="comment" cols="30" rows="10" required></textarea>
                    <button type="submit" [disabled]="form.invalid">Post</button>
                </form>
            </div>
            <div *ngIf="editingMode" class="answer">
                <form #form="ngForm" (ngSubmit)="editPost(comment.value)">
                    <textarea [ngModel]="postContent" #comment="ngModel"
                        name="postText" id="comment" cols="30" rows="10" required autofocus></textarea>
                    <button type="submit" [disabled]="form.pristine">Edit</button>
                    <button (click)="editingMode = false;">Cancel</button>
                </form>
            </div>
        </div>

    </div>
</div>