<div>HEADER</div>

<input type="text" #searchInput [class.hidden]="!users">
<div id="content">
  <div *ngIf="users">
    <button (click)="reloadBtnHandler()">Reload</button>
    <button (click)="searchBtnHandler(searchInput)">Search</button>
  </div>
  <app-user-list *ngIf="users" [userArray]="users!"></app-user-list>
  <div *ngIf="!users">Loading...</div>
</div>

<div>FOOTER</div>

<input type="text" bindon-ngModel="username">

<p>{{username}}</p>

<!-- <div>{{title}}</div>
<input #inputElement type="text">
<button (click)="changeTitleHandler(inputElement)">Click Me!</button> -->

<app-test></app-test>

<ul>
  <li *ngFor="let user of userService.users">
    user {{user?.name}} {{user && user.courses}}
    <!-- <span *ngIf="user.courses.length == 0">No courses</span> -->
  </li>
</ul>

<div *ngIf="visible" [class]="classes" [class.special]="isSpecial" [style.color]="isSpecial ? 'red' : 'green'">VISIBLE</div>
<button (click)="toggleText()">{{visible ? 'HIDE TEXT' : 'SHOW TEXT'}}</button>

