<div class="container">
    <div class="profile">
        <img src="../../../assets/profile.png" alt="default user">
        <h3>User Info:</h3>
        <form #form="ngForm">
            <div class="flex">
                <p>Username: </p>
                <input ngModel #usernameInput="ngModel" type="text" name="username" id="username" value="Johny" required
                    minlength="5">
                <ng-container *ngIf="usernameInput.touched">
                    <p *ngIf="usernameInput.errors?.required" class="error">
                        Username is required!
                    </p>
                    <p *ngIf="usernameInput.errors?.minlength" class="error">
                        Username must be at least 5 characters long!
                    </p>
                </ng-container>
            </div>

            <div class="flex">
                <p>Email: </p>
                <input ngModel #emailInput="ngModel" type="email" name="email" id="email" value="john.doe@gmail.com"
                    required appCustomValidator="emailValidator(emailInput)">
                <ng-container *ngIf="emailInput.touched">
                    <p *ngIf="emailInput.errors?.required" class="error">
                        Email is required!
                    </p>
                    <p *ngIf="emailInput.errors?.invalidEmail" class="error">
                        Email is not valid!
                    </p>
                </ng-container>
            </div>
            <div class="flex">
                <p>Phone: </p>
                <div>
                    <select name="select-tel" id="select-tel" class="tel">
                        <option *ngFor="let code of phoneCodes">{{code}}</option>
                    </select>
                    <input ngModel #phone="ngModel" type="text" name="tel" id="tel" value="885 888 888">
                </div>
            </div>
            <button routerLink="/profile" class="red-button">Cancel</button>
            <button [disabled]="form.invalid" class="green-button">Save</button>
        </form>
    </div>
</div>