<section id="viewCatalog" class="background-img">
    <!--If there are one or more electronics-->
    {{#if offers}}
    <div class="added-electronics">
    {{#each offers}}
        {{> offer}}
    {{/each}}
    </div>
    {{else}}    
    <!--If there are no electronics in catalog yet-->
    <div class="guest">
        There are no electronics found...
    </div>
    {{/if}}
</section>