<img id="sadFaceImg"
    src="https://lh3.googleusercontent.com/proxy/RcqAWtXqpqSW20wzFG3PC3dwpYdDI5MG8_B9hsUvWTOuStUpVfq9BvMHP6iFWT6gh2KyLF61Hr1lBOW3ICk5Xx-mOAkcEEA"
    alt="sad face" />
<h1>404</h1>
<h2>Page not found</h2>