<h1>Create a Sticker</h1>
<div class="form">
    <form action='/sticker/create' method="POST">
    {{#if error}}
    <p style="color: red;">{{error}}</p>
    {{/if}}
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="name">Description</label>
        <textarea id="name" name="description"></textarea>
        <label for="image">ImageUrl</label>
        <input type="text" id="image" name="imageUrl">
        <input type="submit" value="Create">
    </form>
</div>