{{#if planets}}
{{#each planets}}
{{> planet}}
{{/each}}
{{else}}
<!-- Repeat the block for more planets -->
<p class="no-post">There are no planeta found yet!</p>
{{/if}}

{{!-- <img src="https://cdn.pixabay.com/photo/2022/06/29/15/25/jupiter-7291995_1280.jpg" alt="Planet 2"> --}}